# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
DoorController/override_tokens.h
DoorController/%appdata%/build.options.json
DoorController/%appdata%/compile_commands.json
DoorController/%appdata%/sketch/%appdata%/build.options.json
DoorController/%appdata%/sketch/DoorController.ino.cpp
DoorController/.vscode/arduino.json
DoorController/.vscode/c_cpp_properties.json
DoorController/.vscode/settings.json
*.zip
StandardThingController/.vscode/settings.json
DoorController/ThingContoller_old.h
